* {
	box-sizing: border-box;
}
	
body {
    background-color: skyblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: yellowgreen;
}

h1 {
    font-size: 24px;
}

nav {
    display: inline;
}

form {
    display: inline;
    margin-right: 20px;
}

.nav-link {
    padding: 10px;
}

h2 {
    margin-top: 100px;
}

main {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.villager-title {
    width: 300px;
    display: flex;
    align-items: center;
    border: 1px solid purple;
}

.villager-icon {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.villager-name {
    display: inline;
}

.expanded-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: 1px solid purple;
    height: 250px;
}

.villager-img {
    height: 100px;
    width: 100px;
}

.species-name {
    width: 150px;
    padding: 16px 10px;
    margin: 0;
    border: 1px solid purple;
}

.gender-name {
    width: 150px;
    padding: 16px 10px;
    margin: 0;
    border: 1px solid purple;
}

.personality-name {
    width: 150px;
    padding: 16px 10px;
    margin: 0;
    border: 1px solid purple;
}