* {
	box-sizing: border-box;
}
	
body {
    background-image: url("../img/pattern-leaves-white.jpg");
    background-repeat: repeat;
    background-color: #e4f2e8;
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url("../img/pattern-leaves-turquoise.jpg");
    background-color: #6dbdb6;
}

#logo {
    height: 80px;
    margin: 10px;
}

.heading-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

form {
    display: flex;
    margin-right: 20px;
    margin-left: 10px;
    border: 1px solid gray;
}

#search-input {
    border: none;
    padding: 4px;
    flex-grow: 1;
}

#search-button {
    border: none;
}

.nav-link {
    padding: 10px;
}

h2 {
    margin-top: 120px;
    margin-left: 40px;
    color: #6dbdb6;
}

main {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.villager-title {
    width: 300px;
    display: flex;
    align-items: center;
    border: 1px solid #6dbdb6;
    margin: 2px;
}

.villager-icon {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.villager-name {
    display: inline;
}

.expanded-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 200px;
    border: 1px solid #6dbdb6;
    border-top: none;
    margin: 2px;
    margin-top: 0;
}

.villager-details {
    margin-left: 10px;
}

.detail-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
}

.detail {
    margin: 0 0 8px 15px;
}

.villager-img {
    text-align: center;
}

.image {
    height: 100px;
    width: 100px;
}

.species-name {
    width: 150px;
    padding: 16px 10px;
    margin: 2px;
    border: 1px solid #6dbdb6;
}

.gender-name {
    width: 150px;
    padding: 16px 10px;
    margin: 2px;
    border: 1px solid #6dbdb6;
}

.personality-name {
    width: 150px;
    padding: 16px 10px;
    margin: 2px;
    border: 1px solid #6dbdb6;
}